name: Check Code Formatting Via Prettier

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:    

jobs:
  check-formatting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Installing Dependencies
        run: npm install

      - name: Check Formating
        run: npm run format:check
